{% extends 'base.html.twig' %}

{% block title %}Bonjour PaymentController !{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px;
         }
    </style>

    

    <div id="paypal-button-container"></div>
    <script src="https://www.paypal.com/sdk/js?client-id=Abtc-N-1yvs5pOhfPltqcXqVBypQDOMVvLvd51f_MCFibpkR31Sd9jE711NNp7kzHOKf5jV3IHvHGcHH"></script>
    <script>
         paypal.Buttons({




            createOrder: function(data, actions) {
                // Configuration de la transaction
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: 15.7
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                // Capture des fonds de la transaction
                return actions.order.capture().then(function(details) {
                    // Affichage d'un message de succès à l'acheteur
                    alert('Transaction effectuée par ' + details.payer.name.given_name);
                });
            }
        }).render('#paypal-button-container');
    </script>
</body>
</html>
{% endblock %}